.ophthalmology-content > section:last-of-type {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.ophthalmology-content > section:last-of-type > div:last-of-type {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.ophthalmology-content > section:last-of-type > div img {
  width: 305px;
  height: 279px;
  border-radius: 3px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .ophthalmology-content > section:last-of-type {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
  }

  .ophthalmology-content > section:last-of-type > div {
    width: 100%;
  }

  .ophthalmology-content > section:last-of-type > div img {
    width: 100%;
    margin: 20px 0;
  }
}
