/**************************************************/
/******************Global**********************/
/**************************************************/
h1.tLogo {
  all: unset;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--mainColor);
}

h2.tLogo {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--mainColor);
}

.basic-ul {
  color: var(--mainColor);
}

.basic-ul li {
  cursor: pointer;
}

header {
  width: 100%;
  background: #efefefcc;
  position: fixed;
  z-index: 2;
}

header .logo {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

header .logo img {
  margin-right: 8px;
}

.between-li {
  position: relative;
}

/**************************************************/
/******************Header-Pc**********************/
/**************************************************/

header.pc ul {
  list-style: none;
  display: flex;
  gap: 58px;
  align-items: center;
}

header.pc ul li {
  display: flex;
  gap: 7px;
  align-items: center;
  position: relative;
}

header.pc .inside-header {
  width: var(--mainWidth);
  margin: var(--mainMargin);
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}

header.pc .inside-header > div {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

header ul.detail {
  gap: 58px;
}

header.pc .between-li::before {
  content: "";
  position: absolute;
  left: -25px;
  top: 0;
  height: 100%;
  width: 3px;
  background-color: #6d9e9a;
}

/* header.pc .between-li::after {
  content: "";
  position: absolute;
  right: -25px;
  top: 0;
  height: 100%;
  width: 3px;
  background-color: #6d9e9a;
} */

header.pc .search {
  position: relative;
  float: right;
}

header.pc .search input {
  background: linear-gradient(
    94.41deg,
    #2d7588 46.42%,
    rgba(255, 255, 255, 0) 128.97%
  );
  width: 305px;
  height: 40px;
  padding: 0px, 16px, 0px, 16px;
  border-radius: 5px;
  border: none;
}

header.pc .search img {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(-5%, -50%);
}

header.pc .ul-coe,
header.pc .ul-pa {
  all: revert;
  position: absolute;
  width: 275px;
  top: 30px;
  left: 0px;
  background-color: #fff;
  display: none;
}

header.pc .ul-coe li,
header.pc .ul-pa li {
  all: revert;
  margin: 10px 0;
}

header.pc .coe:hover .ul-coe,
header.pc .pa:hover .ul-pa {
  display: block;
}

/**************************************************/
/******************Header-Mobile**********************/
/**************************************************/

header.mobile .close {
  text-align: right;
  margin: 9px 5px 30px 0px;
}

header.mobile .open {
  text-align: right;
  font-size: 30px;
}

header.mobile .inside-header .dynamic-list {
  position: absolute;
  background-color: #fff;
  width: 75%;
  height: 100vh;
  top: 0;
  right: -75%;
  padding: 20px 30px;
  transition: all 0.5s;
}

header.mobile .inside-header .dynamic-list.hide-header {
  right: -75%;
}
header.mobile .inside-header .dynamic-list.show-header {
  right: 0%;
}

header.mobile ul {
  list-style: none;
}

header.mobile ul li {
  display: flex;
  gap: 7px;
  align-items: center;
  position: relative;
  margin-bottom: 15px;
}

header.mobile .inside-header {
  width: var(--mainWidth);
  margin: var(--mainMargin);
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header.mobile .between-li::before {
  content: "";
  position: absolute;
  left: 0px;
  top: -10px;
  height: 3px;
  width: 100%;
  background-color: #6d9e9a;
}

header.mobile .between-li::after {
  content: "";
  position: absolute;
  right: 0px;
  bottom: -10px;
  height: 3px;
  width: 100%;
  background-color: #6d9e9a;
}

header.mobile .search {
  position: relative;
  margin: 7px 0;
}

header.mobile .search input {
  background: linear-gradient(
    94.41deg,
    #2d7588 46.42%,
    rgba(255, 255, 255, 0) 128.97%
  );
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
}

header.mobile .search img {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(-5%, -50%);
}

header.mobile .coe,
header.mobile .pa {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

header.mobile .coe div,
header.mobile .pa div {
  display: flex;
  gap: 7px;
  align-items: center;
}

header.mobile .ul-coe,
header.mobile .ul-pa {
  display: none;
}

header.mobile .ul-coe li,
header.mobile .ul-pa li {
  all: revert;
  margin: 10px 0;
}

header.mobile .coe:hover .ul-coe,
header.mobile .pa:hover .ul-pa {
  display: block;
}

/**************************************************/
/******************Media Query**********************/
/**************************************************/

@media (min-width: 768px) {
  header.pc {
    display: block;
  }
  header.mobile {
    display: none;
  }
}

@media (max-width: 1200px) {
  header.pc ul {
    gap: 30px;
  }
  header ul.detail {
    gap: 40px;
  }
  header.pc .search input {
    width: 195px;
  }
}

@media (max-width: 1024px) {
  header.pc ul {
    gap: 0;
  }
  header ul.detail {
    gap: 40px;
  }
  header.pc .search input {
    width: 111px;
  }
}

@media (max-width: 768px) {
  header.pc {
    display: none;
  }
  header.mobile {
    display: block;
  }
}
