.ob-gyn-content > section:last-of-type {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ob-gyn-content > section:last-of-type > div:last-of-type {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.ob-gyn-images img {
  width: 305px;
  height: 220px;
  border-radius: 3px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .ob-gyn-content > section:last-of-type {
    flex-direction: column;
    align-items: flex-start;
  }

  .ob-gyn-images {
    width: 100%;
  }

  .ob-gyn-images img {
    width: 100%;
    margin: 20px 0;
  }
}
